@import "src/assets/styles.constants.scss";

.films_section{
  margin: 9px 0 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: left;

  color: $dark-grey-100;

  display: flex;
  align-self: flex-start;

  @media (max-width: 1280px){
    align-self: auto;
  }

  & .films_section_img{
    width: 24px;
    height: 24px;
    margin-right: 8px;

    @media (max-width: 1280px){
      margin-right: 0;
    }
  }
}

.movies_list_container{
  width: 100%;
  overflow: hidden;
}

.movies_list{
  list-style: none;
  display: flex;
  width: 2360px;
  transition: 1s;

  li + li{
    margin-left: 20px;
  }
}

.list_container{
  position: relative;
  max-width: 1180px;

  @media (max-width: 1280px){
    width: 880px;
  }

  @media (max-width: 980px){
    width: 580px;
  }
  @media (max-width: 680px) {
    width: 280px;
  }
}

.arrow{
  position: absolute;
  height: 100%;
  width: 45px;
  cursor: pointer;

  display: flex;
  align-items: center;

  @media (max-width: 1280px){
    width: 30px;
  }

  @media (max-width: 680px){
    width: 25px;
  }

  @media (max-width: 340px){
    width: 20px;
  }

  & .arrow_img {
    width: 20px;
    height: 40px;
  }
}

.arrow_left{
  transform: translateX(-100%);
}

.arrow_right{
  right: 0;
  transform: translateX(100%) rotateY(180deg);
}
