@import "src/assets/styles.constants.scss";

.viewport{
  position: relative;
}

.content{
  position: relative;
  overflow: hidden;
}

.children-wrapper{
  position: relative;
}

.scroller{
  position: absolute;
  top: 0;
  right: -18px;

  width: 8px;
  height: 100%;

  padding: 2px;
  background-color: $white-grey-100;
  border-radius: 2px;
}

.invisible-scroller{
  background-color: rgba(242, 242, 242, 0);
  padding: 0 2px;
}

.thumb{
  position: relative;
  top: 0;
  width: 4px;
  height: 500px;
  background: #BDBDBD;
  border-radius: 2px;
}

.film_thumb{
  height: 100px;
}