@import "src/assets/styles.constants.scss";

.films-section{
  margin-top: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: left;

  color: $dark-grey-100;
  align-self: flex-start;
}

.genres-list{
  list-style: none;
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
}

@media (max-width: 1280px){
  .films-section{
    align-self: auto;
  }
  .genres-list{
    width: 880px;
  }
}

@media (max-width: 980px){
  .genres-list{
    width: 580px;
  }
}

@media (max-width: 680px){
  .genres-list{
    width: 280px;
  }
}