@import "../../../assets/styles.constants";

.movie_card_container{
  width: 280px;
  position: relative;

  & a{
    text-decoration: none;
  }
}

.card_img{
  width: 280px;
  height: 370px;
  display: block;
  border-radius: 8px;
}

.card_description{
  width: 280px;
  height: 370px;
  padding: 16px;

  position: absolute;
  top: 0;

  background-color: $dark-grey-100;
  opacity: 0;

  transition: 0.3s;
  border-radius: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  color: $white-grey-100;

  overflow: hidden;

  &:hover{
    background-color: $dark-grey-80;
    opacity: 1;
  }
}

.card_title{
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: $dark-grey-100;
}