@import "src/assets/styles.constants.scss";

.cinema_describe-container{
  width: 984px;
  min-height: 370px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1280px){
    width: 584px;
    justify-content: center;
  }

  @media (max-width: 600px) {
    width: 300px;
  }
}

.cinema_poster{
  width: 400px;
  height: 370px;

  display: flex;
  justify-content: flex-start;

  @media (max-width: 1280px){
    width: auto;
    margin-bottom: 20px;
  }

  & img{
    width: 280px;
    height: 370px;
    border-radius: 8px;
  }
}

.cinema_info_container{
  display: flex;
  flex-direction: column;

  .cinema_info + .cinema_info{
    margin-top: 16px;
  }
}

.cinema_title{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $dark-grey-100;
}

.cinema_description{
  width: 580px;
  margin-top: 23px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: left;

  color: $dark-grey-100;

  @media (max-width: 1280px){
    width: 100%;
  }
}

.cinema_info{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    width: 300px;
  }
}

.cinema_general_data{
  width: 104px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $dark-grey-100;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.cinema_current_data{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: $dark-grey-100;
}
