@import "src/assets/styles.constants.scss";

.user_interface-container{
  width: 182px;
  height: 38px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .login_button{
    width: 113px;
    height: 38px;
    margin-left: 16px;
  }

  .logout_button{
    width: 52px;
    height: 38px;
    margin-left: 16px;
  }
}

.username{
  max-width: 300px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $dark-grey-100;
}

.user_input{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $dark-grey-100;
}
