.user_interface-container{
  width: 182px;
  height: 38px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  & button{
    width: 113px;
    height: 38px;
  }
}

.username{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-grey-100);
}
