@import "src/assets/styles.constants.scss";

.channel-card{
  display: flex;

  width: 1180px;
  height: 162px;

  background-color: $white-grey-100;
  border-radius: 8px;

  & + & {
    margin-top: 16px;
  }

  @media (max-width: 1280px){
    width: 880px;
    padding-left: 4px;
  }

  @media (max-width: 980px){
    width: 680px;
  }

  @media (max-width: 780px){
    width: 480px;
  }

  @media (max-width: 580px) {
    width: 280px;
  }
}

.channel_logotype-container{
  width: 400px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1280px){
    width: 150px;
  }

  @media (max-width: 980px){
    display: none;
  }
}

.channel-schedule{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 0 19px;

}

.channel-title{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: $dark-grey-100;

  margin-bottom: 17px;

  @media (max-width: 580px){
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 23px;
  }
}

.channel-list{
  list-style: none;

  & li{
    margin-bottom: 12px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: $dark-grey-100;

    @media (max-width: 580px){
      font-size: 14px;
      line-height: 16px;
    }
  }

  & li:first-child{
    color: $red-100;
  }

  & li:last-child{
    margin-bottom: 0;
  }
}

.show-time{
  margin-right: 16px;
}