@import "src/assets/styles.constants.scss";

.movie_card-container{
  width: 280px;
  position: relative;
  margin-bottom: 20px;

  & a{
    text-decoration: none;
  }
}

.card-img{
  width: 280px;
  height: 370px;
  display: block;
  border-radius: 8px;
}

.card-description{

  width: 280px;
  height: 370px;
  padding: 16px;

  position: absolute;
  top: 0;

  text-align: left;

  background-color: $dark-grey-100;
  opacity: 0;

  transition: 0.5s;
  border-radius: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: $white-grey-100;

  overflow: hidden;



  &:hover{
    opacity: 0.8;
  }
}

.card-title{
  margin-top: 16px;

  text-align: left;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: $dark-grey-100;
}