@import "src/assets/styles.constants.scss";

.search_container{
  max-width: 1180px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}

.search_title{
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: left;

  color: $dark-grey-100;

  align-self: auto;

  @media (min-width: 1280px){
    align-self: flex-start;
  }
}

.result_list{
  width: 1180px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1180px;

  @media (max-width: 1280px) and (min-width: 981px){
    width: 880px;
  }

  @media (max-width: 980px) and (min-width: 681px){
    width: 580px;
  }

  @media (max-width: 680px){
    width: 280px;
  }

  & li {
    margin-bottom: 20px;
  }

  li + li{
    margin-left: 20px;

    @media (max-width: 680px){
      margin-left: 0;
    }
  }

  &  li:nth-child(4n+1){
    @media (min-width: 1280px){
      margin-left: 0;
    }
  }

  &  li:nth-child(3n+1){
    @media (max-width: 1280px) and (min-width: 981px){
      margin-left: 0;
    }
  }

  &  li:nth-child(2n+3){
    @media (max-width: 980px) and (min-width: 681px){
      margin-left: 0;
    }
  }
}

.loader{
  width: 1180px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}