@import "src/assets/styles.constants.scss";

.comment{
  position: relative;
  width: 100%;
  height: auto;

  padding: 16px;
  white-space: pre-line;
  word-wrap: break-word;
  background-color: $white-grey-100;
  border-radius: 8px;

  & + & {
    margin-top: 16px;
  }

  & h3{
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: $dark-grey-100;
  }

  & p{
    width: 100%;
    height: auto;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: $dark-grey-100;
  }
}

.cross{
  width: 15px;
  height: 15px;

  border: none;
  background-color: $white-100;

  position: absolute;
  top: 0;
  right: -16px;
  transform: translateX(50%);

  cursor: pointer;

  img{
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 880px) {
  .cross{
    right: 16px;
    top: 16px;
    background-color: $white-grey-100;
    transform: none;
  }
}