@import "src/assets/styles.constants.scss";

.comments-container{
  margin-top: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments_title{
  margin-bottom: 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: $dark-grey-100;
}

.comments{
  width: 780px;
  position: relative;

  @media (max-width: 1280px) {
    width: 580px;
  }

  @media (max-width: 600px){
    width: 300px;
  }

  & textarea{
    width: 100%;
    min-height: 110px;
    background-color: $red-15;
    border: none;
    border-radius: 8px;
    resize: none;

    padding: 16px;
    overflow-y: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: $dark-grey-100;

    display: block;

    &::placeholder{
      color: $red-100;
    }
  }

  .publish_button{
    width: 174px;
    height: 38px;

    position: absolute;
    top: 0;
    right: -16px;
    transform: translateX(100%);

    @media (max-width: 1280px) {
        position: relative;
        right: 0;
        top: 10px;
        width: 100%;
        transform: none;
        margin-bottom: 20px;
    }
  }
}

.comments_list{
  margin-top: 16px;
  list-style: none;
}